.login-card {
  width: 550px;
  background-color: var(--md-sys-color-surface);
  overflow: hidden;
  padding: 80px 30px 20px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.login-form-title {
  display: block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-form-subtitle {
  display: block;
  font-size: 1rem;
  color: #666666;
  text-align: center;
}

.login-form-inputs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  gap: 2rem;
}

.login-form-btn-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}

.login-form-btn-group span {
  font-size: 0.9rem;
  cursor: pointer;
}

@media (max-width: 576px) {
  .login-card {
    width: 80%;
    padding: 40px 20px 20px;
  }

  .login-form-btn-group {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}