@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--md-sys-color-background);
  font-family: var(--md-sys-typescale-body-large-font, sans-serif);
}

* {
  box-sizing: border-box;
  outline: none;
  color: var(--md-sys-color-primary);
}

:root {
  /* Tipografia base */
  --md-sys-typescale-body-large-font: "Poppins", sans-serif;

  /* Cores principais */
  --md-sys-color-primary: #4f9cf9;
  --md-sys-color-on-primary: #ffffff;

  --md-sys-color-secondary: #9c4dcc;
  --md-sys-color-on-secondary: #ffffff;

  --md-sys-color-tertiary: #7d5260;
  --md-sys-color-on-tertiary: #ffffff;

  /* Plano de fundo e superfícies */
  --md-sys-color-background: #121212;
  --md-sys-color-on-background: #ffffff;

  --md-sys-color-surface: #1e1e1e;
  --md-sys-color-on-surface: #ffffff;

  --md-sys-color-surface-variant: #2c2c2c;
  --md-sys-color-on-surface-variant: #cfcfcf;

  /* Sucesso */
  --md-sys-color-success: #00c853;
  --md-sys-color-on-success: #ffffff;
  --md-sys-color-success-container: #1b5e20;
  --md-sys-color-on-success-container: #c8e6c9;

  /* Erro */
  --md-sys-color-error: #ff5252;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410e0b;

  /* Bordas / outlines */
  --md-sys-color-outline: #444444;

  /* Scrollbar / efeitos */
  --md-sys-color-scrollbar: #4f4f4f;

  /* Fields */
  --md-outlined-text-field-container-shape: 0.5rem;

  /* List */
  --md-list-container-color: var(--md-sys-color-surface-variant);

}
md-outlined-text-field {
  width: 100%;
}

.w-100 {
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--md-sys-color-scrollbar);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6fa8f9;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--md-sys-color-scrollbar) transparent;
}

md-dialog {
  --md-dialog-container-color: var(--md-sys-color-surface);
  --md-dialog-headline-color: var(--md-sys-color-primary);
  --md-dialog-supporting-text-color: var(--md-sys-color-on-surface);
  --md-dialog-actions-color: var(--md-sys-color-primary);
}

md-dialog::part(container) {
  background-color: var(--md-sys-color-surface) !important;
  color: var(--md-sys-color-on-surface) !important;
  border-radius: 16px;
  padding: 0;
}