md-menu {
  --md-menu-container-color: var(--md-sys-color-surface);
  --md-menu-container-shape: 12px;
  --md-menu-item-label-text-color: var(--md-sys-color-on-surface);
  --md-menu-item-leading-icon-color: var(--md-sys-color-primary);
  --md-menu-item-hover-label-text-color: var(--md-sys-color-primary);
  --md-menu-item-hover-state-layer-color: var(--md-sys-color-primary);
  --md-menu-item-hover-state-layer-opacity: 0.08;
  min-width: 160px;
}

md-menu-item {
  font-size: 0.95rem;
  font-weight: 500;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  transition: background 0.2s;
}

md-menu-item md-icon {
  margin-right: 0.5rem;
}

.custom-top-bar md-icon {
  color: var(--md-sys-color-on-surface);
}

.custom-top-bar {
  width: 100%;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  border-bottom: 1px solid var(--md-sys-color-outline);
  display: flex;
  align-items:center;
  padding: 1rem 0.5rem;

}

.app-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  color: var(--md-sys-color-primary);
}
