.recovery-password-card {
  width: 390px;
  background-color: var(--md-sys-color-surface);
  overflow: hidden;
  padding: 80px 30px 20px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.recovery-password-form-title {
  display: block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.recovery-password-form-inputs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  gap: 2rem;
}

.recovery-password-form-btn-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.recovery-password-form-btn-back {
  display: flex;
  align-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
