.recovery-password-form-inputs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  gap: 2rem;
}

.recovery-password-form-btn-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.recovery-password-form-btn-back {
  display: flex;
  align-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
