.auth-layout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.auth-layout-author {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.8rem;
}